@import '../../../settings/settings.scss';

.AdminArticles_Section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  .AdminArticles_Wrap {
    display: flex;
    flex-direction: column;
    .AdminArticles_Section_articleIdWrap {
      width: fit-content;
    }
    .articleIdWrap {
      padding: 30px 0px 0px 60px;
      height: 75px;
      font-size: 15px;
      .articleIdText {
        padding-bottom: 10px;
        font-weight: 500;
        color: $g_1;
      }

      .articleId {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 30px;

        input {
          height: 6vh;
          width: 25vw;
          border: none;
          border-radius: 5px;
        }

        Button {
          text-align: center;
          background-color: $g_1;
          width: 7vw;
          height: 6vh;
          color: $g_0;
          border: none;
          border-radius: 5px;
          font-weight: 500;
          font-size: 15px;
          cursor: pointer;
        }
      }
    }

    .mainWrap {
      display: flex;
      padding: 5px 0px 0px 60px;

      .leftWrap {
        .tittleWrap {
          width: fit-content;

          .tittleText {
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: 500;
            color: $g_1;
          }

          .tittleArea {
            width: 34vw;
            height: 10vh;
            border: none;
            border-radius: 5px;
            resize: vertical;
          }
        }

        .shortDescriptionWrap {
          width: fit-content;

          .shortDescriptionText {
            height: 20px;
            width: 90px;
            padding: 10px 0px 10px 0px;
            font-weight: 500;
            color: $g_1;
          }

          .shortDescriptionArea {
            width: 34vw;
            height: 14vh;
            border: none;
            border-radius: 5px;
            resize: vertical;
          }
        }
      }

      .subtextWrap {
        width: fit-content;
        padding: 0px 60px 0px 40px;

        .subtextText {
          padding-top: 10px;
          padding-bottom: 10px;
          font-weight: 500;
          color: $g_1;
        }

        .subtextArea {
          width: 34vw;
          height: 29vh;
          border: none;
          border-radius: 5px;
          resize: vertical;
        }
      }
    }

    .contentWrap {
      width: fit-content;
      padding: 0px 0px 40px 60px;
      .contentText {
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 500;
        color: $g_1;
      }

      .contentArea {
        width: 70.5vw;
        height: 18vh;
        border: none;
        border-radius: 5px;
        resize: vertical;
      }
    }

    .submitWrap {
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;

      .submitWrap_button {
        text-align: center;
        background-color: $g_1;
        width: 7vw;
        height: 6vh;
        color: $g_0;
        border: none;
        border-radius: 5px;
        font-weight: 500;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
}
