@import '../../settings/settings.scss';

.statisticSection {
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $header-height 0;
  // padding-top: $header-height;
  box-sizing: border-box;
}

.statisticContent {
  width: 1300px;
  height: 100%;
  display: flex;
  column-gap: 250px;
  justify-content: center;
}

.statisticBlockHeader {
  font-size: 30px;
}

.statisticBigNumber {
  font-size: 80px;
  font-weight: 600;
}

.cityBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid black;
  
  .cityBlock_left {
    display: flex;
    flex-direction: column;
    // row-gap: 5px;

    .cityName {
      font-size: 16px;
    }

    .cityPopulation {
      font-size: 30px;
      font-weight: 600;
    }
  }

  .cityBlock_right{
    display: flex;
    align-items: flex-end;
    .cityBlock_emoji{
      font-size: 30px;
    }
  }
}

.statisticLeft,
.statisticRight {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.statisticWrap {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
