@import '../../settings/settings.scss';

$padding_content: 20px;
$element_width_input: 280px;
$element_width_exit: 300px;
$element_width_button: 120px;
$element_width_button_margin: 110px;


.Changer_Section{
  padding: $padding_content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;

  .popup_icon{
    align-self: end;
    cursor: pointer;
  }

  .Changer_Title{
    align-self: center;
    font-size: 30px;
    font-weight: 500;
  }

  .Changer_Input{
    align-self: center;
    width: $element_width_input;
    padding: 25px 0;
    margin: 10px 0;
    border: 0;
    border-radius: 30px;
    background-color: $g_4;
    font-size: 15px;
    color: $g_5;
    text-align: center;
  }

  .Changer_Input::placeholder{
    font-size: 15px;
    color: $g_5;
    text-align: center;
    font-size: 20px;
  }

  .Changer_Input:focus{
    outline: none;
  }

  .Changer_Button{
    align-self: end;
    width: $element_width_button;
    background-color: $g_1;
    color: $g_0;
    font-size: 20px;
    border-radius: 30px;
    padding: 15px 20px;
    margin-right: $element_width_button_margin;
  }

  .Error_Message{
    margin-bottom: 10px;
    color: $r_0;
  }
}

