@import '../../settings/settings.scss';

$head_font_size: 15px;

// ===================================

.ProfileSection {
  width: 100vw;
  display: flex;
  flex-direction: column;

  .ProfileSection_header {
    width: 100%;
  }

  .ProfileSection_mainBody {
    margin-top: calc($header_height + 4vw);
    padding: 0px $header_padding * 2;
    padding-bottom: 40px;
    height: fit-content;
    // background-color: pink;

    .ProfileSection_mainBody_wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;

      .ProfileSection_mainBody_wrapper_head {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid $g_3;

        .ProfileSection_mainBody_wrapper_head_left {
          display: flex;

          .ProfileSection_mainBody_wrapper_head_left_el {
            font-size: $head_font_size;
            font-weight: 500;
            padding: 4px 0px;
            margin-right: 1.5rem;
            cursor: pointer;
          }

          .active {
            border-bottom: 3px solid $g_1;
          }
        }

        .ProfileSection_mainBody_wrapper_head_right {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: $head_font_size;
          font-weight: 500;
          cursor: pointer;
          text-decoration: underline;
          text-decoration-thickness: 1.5px;
        }
      }

      .ProfileSection_mainBody_wrapper_content {
        margin-top: 15px;
        background-color: $g_4;

        height: fit-content;
        border-radius: 7px;
      }
    }
  }
}
