@import '../../settings/settings.scss';

.loadingPageSection {
  display: grid;
  align-content: center;
  background-color: $g_0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  
    z-index: 200;
}
