@import '../../settings/settings.scss';

.subscription {
  width: 100vw;
  height: 100vh;
  background-color: $g_0;
  padding: $header_height 0;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .subscriptionHeader {
    text-align: center;
    color: $g_1;
    font-size: 60px;
    font-weight: 500;
  }
  .subscriptionFeatures {
    display: flex;
    justify-content: center;
    gap: 35px;
    color: $g_0;
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
    font-weight: 300;

    div {
      height: 50px;
      line-height: 50px;
      width: fit-content;
      padding: 0px 30px;
      background-color: $g_1;
      border-radius: 30px;
      span {
        font-weight: 500;
      }
    }
    // .feature2,
    // .feature3 {
    //   min-width: 250px;
    // }
  }
  .subscriptionButtons {
    display: flex;
    box-sizing: border-box;
    gap: 25px;
    align-items: center;
    div.some_el0 {
      cursor: pointer;
      color: $g_1;
      height: 320px;
      width: 250px;
      background: #f7f7f7;
      border-radius: 5px;
      align-items: center;
      display: flex;
      justify-content: center;
      a{
        color: $g_1;
        text-decoration: none;
      }
      .subscriptionType {
        font-weight: 300;
        text-align: center;
        color: $g_5;
      }
      .subscriptionPrice {
        font-weight: 600;
        text-align: center;
        font-size: 80px;
      }
      .subscriptionDescr {
        font-weight: 500;
        text-align: center;
      }
    }
    div.some_el1,
    .some_el2,
    .some_el3 {
      height: 320px;
      width: 320px;
      background: $g_0;
      border: 1px solid #cecece;
      border-radius: 5px;
      align-items: center;
      display: flex;
      justify-content: center;
      a {
        color: $g_1;
        text-decoration: none;
        .subscriptionType {
          font-weight: 300;
          text-align: center;
          color: $g_5;
        }
        .subscriptionPrice {
          font-weight: 600;
          text-align: center;
          font-size: 80px;
        }
        .subscriptionDescr {
          font-weight: 500;
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: $ADAPTIVE_M_1) {
  .subscription{
    .subscriptionHeader {
      font-size: 50px;
    }
    .subscriptionFeatures {
      display: flex;
      justify-content: center;
      gap: 30px;
      padding-top: 10px;
      padding-bottom: 50px;
      font-weight: 300;
      div{
        height: 40px;
        line-height: 40px;
        width: fit-content;
      }
    }
    .subscriptionButtons {
      display: flex;
      box-sizing: border-box;
      gap: 20px;
      width: fit-content;
      justify-content:center;
      div.some_el0 {
        height: 270px;
        width: 200px;


        .subscriptionPrice {
          font-size: 50px;
        }

      }

      div.some_el1,
      .some_el2,
      .some_el3 {
        height: 270px;
        width: 270px;

        a {
          .subscriptionPrice {
            font-size: 50px;
          }

        }
      }
    }
  }
}

@media (max-width: $ADAPTIVE_M_2) {
  .subscription{
    .subscriptionHeader {
      text-align: center;
      font-size: 40px;
      font-weight: 300;
    }
    .subscriptionFeatures {
      justify-content: center;
      gap: 10px;
      padding: 20px 50px 50px 50px;
      font-weight: 300;
      font-size: 10.5px;
      div{
        display: flex;
        justify-content: center;
        min-width:130px ;
        min-height: 40px;
        height: fit-content;
        line-height: 40px;
        width: fit-content;
        span{
          margin-left: 3px;
          display: flex;
          white-space: nowrap;
        }
      }


    }
    .subscriptionButtons {
      display: flex;
      box-sizing: border-box;
      gap: 15px;
      width: fit-content;
      justify-content:center;
      div.some_el0 {
        cursor: pointer;
        color: $g_1;
        height: 35vh;
        width: 15vw;
        font-size: 14px;
        .subscriptionPrice {

          font-size: 35px;
        }
      }

      div.some_el1,
      .some_el2,
      .some_el3 {
        height: 35vh;
        width: 20vw;

        a {
          .subscriptionType {
            font-size: 14px;
          }

          .subscriptionPrice {
            font-size: 35px;
          }

          .subscriptionDescr {
            font-size: 14px;
          }
        }
      }

    }
  }
}

@media (max-width: $ADAPTIVE_S_1) {
  .subscription{
    height: fit-content;
    .subscriptionHeader {
      text-align: center;
      font-size: 30px;
      font-weight: 300;
    }
    .subscriptionFeatures {
      display: grid;
      width: fit-content;
      grid-template-columns: 3fr 3fr;
      grid-template-rows: 3fr 3fr;
      justify-content: center;
      gap: 10px;
      padding: 20px 20px 50px 20px;
      font-weight: 300;
      font-size: 12px;
      div{
        display: flex;
        justify-content: center;
        min-width:135px ;
        min-height: 40px;
        height: fit-content;
        line-height: 40px;
        width: fit-content;
        span{
          margin-left: 3px;
          display: flex;
          white-space: nowrap;
        }
      }
    }
    .subscriptionButtons {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      width: fit-content;
      justify-content:center;
      div.some_el0 {
        cursor: pointer;
        color: $g_1;
        height: 30vh;
        width: 40vw;
        align-self: center;
        font-size: 15px;
        .subscriptionPrice {
          font-weight: 600;
          text-align: center;
          font-size: 35px;
        }
      }

      div.some_el1,
      .some_el2,
      .some_el3 {
        height: 30vh;
        width: 50vw;

        a {

          .subscriptionType {
            font-size: 15px;
          }

          .subscriptionPrice {
            font-size: 35px;
          }

          .subscriptionDescr {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: $ADAPTIVE_S_2) {
  .subscription{
    height: fit-content;
    .subscriptionHeader {
      text-align: center;
      font-size: 30px;
      font-weight: 300;
    }
    .subscriptionFeatures {
      display: grid;
      width: fit-content;
      grid-template-columns: 3fr 3fr;
      grid-template-rows: 3fr 3fr;
      justify-content: center;
      gap: 10px;
      padding: 20px 50px 50px 50px;
      font-weight: 300;
      font-size: 8.3px;
      div{
        display: flex;
        justify-content: center;
        min-width:100px ;
        min-height: 35px;
        height: fit-content;
        line-height: 35px;
        width: fit-content;
        span{
          margin-left: 3px;
          display: flex;
          white-space: nowrap;
        }
      }
    }
    .subscriptionButtons {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      width: fit-content;
      justify-content:center;
      div.some_el0 {
        height: 30vh;
        width: 45vw;

        .subscriptionPrice {
          font-size: 35px;
        }
      }

      div.some_el1,
      .some_el2,
      .some_el3 {
        height: 30vh;
        width: 60vw;

        a {
          .subscriptionType {
            font-weight: 300;
            text-align: center;
            color: $g_5;
          }

          .subscriptionPrice {
            font-weight: 600;
            text-align: center;
            font-size: 35px;
          }

          .subscriptionDescr {
            font-weight: 500;
            text-align: center;
          }
        }
      }
    }
  }
}