@import "../../../../../settings/settings.scss";

.otherRenderer{
    display: grid;
    // padding-bottom: 30px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-top: 20px;

    .emptyTextBruh{
        font-weight: 600;
        font-size: 16px
    }
}



// ====================================

@media screen and (max-width: $ADAPTIVE_M_1) {
    .otherRenderer{
        grid-template-columns: repeat(1, 1fr);
    }
}