@import '../../../settings/settings.scss';

$gap_cards: 1vw;

$height_of_card: 70px;
$max_width_of_card: 250px;
$border_radius_of_card: 10px;

//============================================= history

$height_main_line: 20px;

$width_of_year: 90px;
$height_of_year: 35px;
$font_size_of_year: 16px;

$border_width_of_branch: 3px;

$max_width_of_subText: 70%;

//=============================================

//explore
.explorePage_mainPlates {
  .LoadingPlatesSection_el {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $g_0;
    width: $max_width_of_card;
    height: $height_of_card;
    border-radius: $border_radius_of_card;
    padding: 25px 0px;
    padding-left: 25px;
    padding-right: 24px;
    color: transparent;
  }
}

// history
.historyRenderer_wrapperLoading_ref {

  .historyRenderer_wrapperLoading {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-top: 30px;

    .historyRenderer_wrapper_year {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $width_of_year;
      height: $height_of_year;
      background-color: $g_0;

      border-radius: 100px;
      color: $g_0;

      font-size: $font_size_of_year;
      font-weight: 500;
      text-align: center;
    }

    .historyRenderer_wrapper_section {
      display: flex;
      width: 100%;

      .historyRenderer_wrapper_section_sideContainer {
        // background-color: yellow;
        resize: none;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: $width_of_year / 2 - 2;
        border: $border_width_of_branch solid $g_0;

        border-top: none;
        border-bottom: none;
        border-left: none;
      }

      .historyRenderer_wrapper_section_mainContainer {
        width: 100%;
        max-width: $max_width_of_subText;

        .historyRenderer_wrapper_section_mainContainer_sub {
          display: flex;
          align-items: center;
          margin-top: 8px;
          width: 100%;
          // border: 2px solid pink;

          .historyRenderer_wrapper_section_mainContainer_sub_subWrap {
            .historyRenderer_wrapper_section_mainContainer_sub_subWrap_subLine {
              width: $width_of_year * 1/8;
              height: 50%;

              border: $border_width_of_branch solid $g_0;
              border-top: none;
              border-right: none;
              border-left: none;
            }
          }

          .historyRenderer_wrapper_section_mainContainer_wrap {
            width: 100%;
            text-decoration: none;

            .historyRenderer_wrapper_section_mainContainer_wrap_sub_subText {
              width:   25vw;
              height: 3vh;
              overflow-wrap: break-word;
              background-color: $g_0;
              border-radius: 4px;
              padding: 2px 10px;
              padding-top: 4px;
              margin-left: 10px;
              font-size: 14px;
              font-weight: 500;
              color: $g_1;
            }
          }
        }
      }
    }
  }
}


// other loading
.otherRenderer_Loading{
  display: grid;
  // padding-bottom: 30px;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-top: 20px;

  .otherRenderer_Loading_el{
    // opacity: 0.2;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $g_0;
    width: $max_width_of_card;
    height: $height_of_card;
    border-radius: $border_radius_of_card;
    padding: 25px 0px;
    padding-left: 25px;
    padding-right: 24px;
    color: transparent;
  }

}

@media screen and (max-width: $ADAPTIVE_M_1) {
  .otherRenderer_Loading{
      grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: $ADAPTIVE_S_1) {
  
.historyRenderer_wrapperLoading_ref {

  .historyRenderer_wrapperLoading {
    width: 100%;

    margin-left: -20px;
    .historyRenderer_wrapper_section {


      .historyRenderer_wrapper_section_mainContainer {
        width: 100%;
        max-width: $max_width_of_subText;

        .historyRenderer_wrapper_section_mainContainer_sub {
          display: flex;
          align-items: center;
          margin-top: 8px;
          width: 100%;
          // border: 2px solid pink;

          

          .historyRenderer_wrapper_section_mainContainer_wrap {
            width: 100%;
            text-decoration: none;

            .historyRenderer_wrapper_section_mainContainer_wrap_sub_subText {
              width:   45vw;
              height: 3vh;
              overflow-wrap: break-word;
              background-color: $g_0;
              border-radius: 4px;
              padding: 2px 10px;
              padding-top: 4px;
              margin-left: 10px;
              font-size: 14px;
              font-weight: 500;
              color: $g_1;
            }
          }
        }
      }
    }
  }
}

}


