@import '../../settings/settings.scss';

// ===================================

.mainPage {
  width: 100%;
  height: 100%;

  //* GRADIENT BACKGROUND *//
  *,
  *:before,
  *:after {
    padding: 0;
    margin: 0;
    // box-sizing: border-box;
  }
  .container {
    z-index: -100;
    height: 200vh;
    width: 100vw;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: none;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .container div {
    position: absolute;
    border-radius: 50%;
    
  }
  .container div:nth-child(1) {
    height: 70%;
    width: 60%;
    background-color: #d7faff;
    left: -20%;
    top: 20%;
    animation: gradient_1 10s infinite;
  }
  .container div:nth-child(2) {
    height: 80%;
    width: 70%;
    background-color: #fff7db;
    top: -12%;
    right: -12%;
    animation-delay: 2s;
    animation: gradient_2 5s infinite;
  }
  .container div:nth-child(3) {
    height: 65%;
    width: 80%;
    background-color: #c6f8fb;
    bottom: -15%;
    right: -20%;
    animation-delay: 0.3s;
    animation: gradient_3 9s infinite;
  }
  .container div:nth-child(4) {
    height: 50%;
    width: 75%;
    background-color: #fff9e6;
    bottom: -10%;
    left: -18%;
    animation-delay: 1.2s;
    animation: gradient_4 10s infinite;
  }

  @keyframes gradient {
    70% {
      transform: scale(1.2) translate(50px);
    }
  }
  @keyframes gradient_1 {
    50% {
      transform: scaleX(0.3) translate(50px);
    }
  }
  @keyframes gradient_2 {
    40% {
        transform: scaleX(1.4) translate(50px);
        border-radius: 0px;
    }

    70% {
      transform: scale(1.2) translate(50px);
    }
  }
  @keyframes gradient_3 {
    30% {
      transform: scaleY(1.6s) translate(50px);
      border-radius: 10px;
      border-top-right-radius: 100%;
    }
    50% {
      transform: scale(1.2) translate(50px);
      
      border-radius: 100%;
    }
  }
  @keyframes gradient_4 {
    30% {
      transform: scaleY(2.2) translate(50px);
    }

    70% {
      transform: scale(1.2) translate(50px);
    }
  }

  .container:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    backdrop-filter: blur(80px);
  }
}
