@import '../../settings/settings.scss';

// ===================================

.mainPage {
  width: 100%;
  height: 100%;

  .mainPage_scrollWrap {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type:y proximity;

    .mainPage_scrollWrap_el {
      width: 100%;
      height: fit-content;
      scroll-snap-align: center;
    }

    .mainPage_scrollWrap_el_map{
      height: 100%;
    }
  }
  @include scroll_thumb_vertical;
}

// ===================================

@media (max-width: $ADAPTIVE_S_1) {
  .mainPage {

    .mainPage_scrollWrap {

      scroll-snap-type:none;

    }
    @include scroll_thumb_vertical;
  }
}