@import '../../settings/settings.scss';

$speed_of_sideHeight: 250ms;
$width_of_logo: 24px;

// ====================================

.headerSection {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0px;
  z-index: 100;

  // background-color: pink;
  @include glass_background;
  transition: all 0.7s;
  transition: backdrop-filter 0s;

  clip-path: polygon(
    0 0,
    100% 0,
    100% $header_height,
    50% $header_height,
    50% $header_height,
    0 $header_height
  );

  .mainHeader {
    display: flex;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    height: $header_height;
    padding: 0 $header_padding;

    .headerLeft {
      display: flex;
      align-items: center;

      .headerLeft_logo {
        text-decoration: none;
        margin-top: 10px;
        width: $width_of_logo;

        .headerLeft_logo_svg {
          color: $g_1;
        }
      }

      .headerLeft_map_navs {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        font-size: 14px;
        width: fit-content;
        font-weight: 600;
        color: $g_1;
        // transition: all 1s ease-in-out;
        &:after {
          content: '';
          margin-top: -5px;
          height: 1.2px;
          width: 0%;
          background-color: black;
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }

      .activePage {
        &:after {
          visibility: hidden;
        }
      }
    }

    .mainHeader_oblastName {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 700;

      .mainHeader_oblastName_name {
        margin-right: 8px;
        margin-left: 2px;
      }
    }
  }

  .headerRight {
    transition: all 0.7s ease-in-out;
  }
}

.headerIcon {
  color: $g_1;
  font-size: 20px;
  margin-top: -2px;
  margin-right: 3px;
}

// .profileIcon{

// }

// .loginIcon{
//   color: $g_1;
//   font-size: 20px;
//   margin-top: -2px;
//   margin-right: 3px;
// }

.mainHeader,
.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLeft,
.headerRight {
  width: 175px;
}

.mainHeader .headerRight {
  // background-color: pink;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .headerRight_el {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: $g_1;
    margin-left: 10px;
  }
}

.headerRight_language_drawer {
  background-color: $g_0;
  border-radius: 10px;
  padding: 10px 15px;
  position: fixed;
  margin-top: 60px;
  z-index: 200;
  box-shadow: -3px 3px 20px rgba(176, 176, 176, 0.2);
  font-weight: 500;

  .headerRight_language_drawer_el {
    cursor: pointer;
    transition: color 0.15s ease-in-out;

    &:hover {
      color: $g_5;
    }
  }
}

// animation of moving sideHeight to start position
.no_sideHeight {
  animation-name: no_sideHeight;
  animation-timing-function: ease-in-out;
  animation-duration: $speed_of_sideHeight;
  animation-fill-mode: forwards;
}

@keyframes no_sideHeight {
  0% {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      50% 100%,
      50% $header_height,
      0 $header_height
    );
  }
  100% {
    clip-path: polygon(
      0 0,
      100% 0,
      100% $header_height,
      50% $header_height,
      50% $header_height,
      0 $header_height
    );
  }
}

// animation of moving sideHeight to open position
.sideHeight {
  animation-name: sideHeight;
  animation-timing-function: ease-in-out;
  animation-duration: $speed_of_sideHeight;
  animation-fill-mode: forwards;
}

@keyframes sideHeight {
  0% {
    clip-path: polygon(
      0 0,
      100% 0,
      100% $header_height,
      50% $header_height,
      50% $header_height,
      0 $header_height
    );
  }
  100% {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      50% 100%,
      50% $header_height,
      0 $header_height
    );
  }
}

// ==================================================================================================

$burger_menu_width: 25px;
$burger_menu_height: 13px;

@media screen and (max-width: $ADAPTIVE_S_1) {
  .headerSection {
    .mainHeader {
      padding: 0 $header_padding_mobile;

      .headerRight {
        // background-color: pink;
        display: flex;
        justify-content: flex-end;
        width: 180px;

        .innerBurgerButton {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          width: $burger_menu_width;
          height: $burger_menu_height;

          .headerRight_el {
            background-color: $g_1;
            height: 2px;
            width: 100%;
          }

          .headerRight_lineBotttom {
            width: 80%;
          }
        }
        .innerBurgerButton_burgerHeight {
          .headerRight_lineBotttom {
            width: 100%;
          }
        }
      }
    }
  }
  .headerSection_burgerBackground {
    position: absolute;
    // background-color: $g_0;
    width: 100vw;
    height: 100vh;
    transform: translateY(-120%);
    z-index: 101;

    .headerSection_burgerBackground_navigation {
      position: absolute;
      margin-top: $header_height * 2;
      padding: 0 $header_padding_mobile;
      z-index: 109;

      .headerLeft_map_navs {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        font-size: 34px;
        width: fit-content;
        font-weight: 600;
        color: $g_2;
        margin-top: 30px;
      }

      .activePage {
        color: $g_1;
      }
    }
  }

  .headerSection_burgerHeight {
    height: $header_height;
    z-index: 102;
    background-color: $g_0;
  }

  .burgerHeight {
    transform-origin: top;
    animation-name: burgerHeight;
    animation-timing-function: ease-in-out;
    animation-duration: $speed_of_sideHeight;
    animation-fill-mode: forwards;
  }
  @keyframes burgerHeight {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
      background-color: $g_0;
    }
  }

  .no_burgerHeight {
    z-index: 99;
    transform-origin: top;
    animation-name: no_burgerHeight;
    animation-timing-function: ease-in-out;
    animation-duration: $speed_of_sideHeight;
    animation-fill-mode: forwards;
  }
  @keyframes no_burgerHeight {
    0% {
      transform: translateY(0%);
      background-color: $g_0;
    }
    100% {
      transform: translateY(-100%);
    }
  }

  // ================================================ animation for header when region selected

  // animation of moving sideHeight to start position
  .no_sideHeight {
    animation-name: no_sideHeight;
    animation-timing-function: ease-in-out;
    animation-duration: $speed_of_sideHeight;
    animation-fill-mode: forwards;
  }
  @keyframes no_sideHeight {
    0% {
      clip-path: polygon(
        0 0,
        100% 0,
        100% $header_height_mobile,
        0 $header_height_mobile
      );
    }
    100% {
      clip-path: polygon(0 0, 100% 0, 100% $header_height, 0 $header_height);
    }
  }

  // animation of moving sideHeight to open position
  .sideHeight {
    animation-name: sideHeight;
    animation-timing-function: ease-in-out;
    animation-duration: $speed_of_sideHeight;
    animation-fill-mode: forwards;
  }
  @keyframes sideHeight {
    0% {
      clip-path: polygon(0 0, 100% 0, 100% $header_height, 0 $header_height);
    }
    100% {
      clip-path: polygon(
        0 0,
        100% 0,
        100% $header_height_mobile,
        0 $header_height_mobile
      );
    }
  }
}
