@import "../../settings/settings.scss";

$speed_of_sideHeight: 250ms;

// ====================================

.headerSection{
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0px;
    z-index: 100;
    // background-color: $c_1;
    @include glass_background;
    clip-path: polygon(0 0, 100% 0, 100% $header_height, 50% $header_height, 50% $header_height, 0 $header_height);
    
}



// animation of moving sideHeight to start position
.no_sideHeight{
    animation-name: no_sideHeight;
    animation-timing-function: ease-in-out;
    animation-duration: $speed_of_sideHeight;
    animation-fill-mode: forwards;
}
@keyframes no_sideHeight{
    0%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 50% $header_height, 0 $header_height);  
    }
    100%{
        clip-path: polygon(0 0, 100% 0, 100% $header_height, 50% $header_height, 50% $header_height, 0 $header_height);
    }
}

// animation of moving sideHeight to open position
.sideHeight{
    animation-name: sideHeight;
    animation-timing-function: ease-in-out;
    animation-duration: $speed_of_sideHeight;
    animation-fill-mode: forwards;
}
@keyframes sideHeight{
    0%{
        clip-path: polygon(0 0, 100% 0, 100% $header_height, 50% $header_height, 50% $header_height, 0 $header_height);
    }
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 50% $header_height, 0 $header_height);
    }
}
