@import '../../settings/settings.scss';

.footer {
  width: 100%;
  height: 450px;
  background-color: $g_0;
  padding: 0 $header_padding * 2;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.footerWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footerDefaultBlock {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.footerText {
  font-size: 0.9vw;
  color: $g_5;

  .footerText_logo_svg {
    height: 60px;
  }
}

.footerFormWrap {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footerFormTitle {
  font-size: 1.7vw;
  font-weight: 700;
}

.footerFormSubtitle {
  font-size: 0.9vw;
  color: $g_5;
}

.footerForm {
  display: flex;
  width: 350px;
  height: 60px;
  border-radius: 30px;
  background-color: #efefef;
  padding-left: 30px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  column-gap: 10px;
}

.footerInput {
  font-size: 0.9vw;
  color: $g_5;
  flex-grow: 1;
  background: none;
  border: none;
  outline: none;
}

.footerButton {
  font-size: 22px;
  height: 60px;
  min-width: 60px;
  border-radius: 30px;
  background-color: $b_3;
  border: none;
}

@media (max-width: $ADAPTIVE_M_1) {
  .footerText,
  .footerFormTitle {
    font-size: 18px;
  }

  .footerFormSubtitle,
  .footerInput {
    font-size: 14px;
  }

  .footerForm {
    width: 250px;
  }

  .footerInput {
    flex-grow: 0;
    width: 100px;
  }
}

@media (max-width: $ADAPTIVE_M_2) {
  .footerWrap {
    column-gap: 40px;
    row-gap: 60px;
    justify-content: center;
    flex-wrap: wrap;

    > div {
      width: 250px;
    }
  }
}

@media (max-width: $ADAPTIVE_S_1) {
  .footerWrap {
    row-gap: 30px;
    flex-direction: column;
    align-items: center;

    > div {
      width: 250px;
      display: flex;

      :nth-of-type(4) {
        order: 3;
      }
    }
  }

  .footer {
    height: fit-content;
    padding: 50px 0;
  }

  .footerDefaultBlock {
    row-gap: 10px;
    align-items: center;
  }

  .footerText {
    font-size: 3.5vw;
  }
  .footerFormTitle {
    font-size: 4vw;
  }

  .footerFormSubtitle,
  .footerInput {
    font-size: 12px;
  }

  .footerForm {
    height: 40px;
  }

  .footerFormWrap {
    align-items: center;
    text-align: center;
    order: 2;
  }

  .footerButton {
    height: 40px;
    min-width: 40px;
  }
}

.footerTextPolicy {
  cursor: pointer;
}

.footerTextTerms {
  cursor: pointer;
}

.popupFoot {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .popupFootRender {
    // background-color: pink;
    margin: 40px;
    overflow: auto;

    .popupFootRender_title {
    }

    .popupFootRender_content {
      white-space: pre-line
    }
  }
}

@media (max-width: $ADAPTIVE_S_2) {
  .footerWrap {
    row-gap: 30px;
    flex-direction: column;
    align-items: center;

    > div {
      width: 300px;
      display: flex;

      :nth-of-type(4) {
        order: 3;
      }
    }
  }

  .footer {
    height: fit-content;
    padding: 50px 0;
  }

  .footerDefaultBlock {
    row-gap: 10px;
    align-items: center;
  }

  .footerText,
  .footerFormTitle {
    font-size: 4.9vw;
  }

  .footerFormSubtitle {
    font-size: 4vw;
  }
  .footerInput {
    font-size: 3vw;
  }

  .footerForm {
    height: 40px;
  }

  .footerFormWrap {
    align-items: center;
    text-align: center;
    order: 2;
  }

  .footerButton {
    height: 40px;
    min-width: 40px;
  }
}


