@import '../../settings/settings.scss';

$gap_category: 40px;
$height_brick: 90px;
$padding_brick: 80px;

//====================================

.scrollCategory {
  display: flex;
  justify-content: center;
  width: 100%;
  // background-color: pink;

  ::-webkit-scrollbar {
    visibility: hidden;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    visibility: hidden;
  }

  &:hover {
    // @include scroll_thumb_horizontal;
    ::-webkit-scrollbar {
      visibility: visible;
      height: 8px;
      background-color: $g_0;
    }

    ::-webkit-scrollbar-thumb {
      visibility: visible;
      background-color: $g_3;
    }
  }

  .scrollCategory_wrap {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 0px 40px;
    padding-top: 10px;
    padding-bottom: 25px;

    .scrollCategory_el_wrapp {
      display: flex;
      justify-content: center;
      align-items: center;

      .scrollCategory_el {
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;

        background-color: $g_0;
        height: $height_brick;
        width: fit-content;
        padding: 0px $padding_brick;
        border-radius: 100px;

        color: $g_1;
        font-size: 18px;
        font-weight: 700;

        cursor: pointer;
        transition: all 0.1s ease-in-out;

        .scrollCategory_el_p {
          display: flex;
        }
      }
    }

    .scrollCategory_el_wrapp_search {
      display: flex;
      align-items: center;
      background-color: $g_0;
      border-radius: 100px;
      cursor: pointer;

      input.scrollCategory_el {
        border: none;
        width: 88px;
        max-width: 90vw;
        padding: 0px;
        padding-right: 10px;
        padding-left: $padding_brick;
        color: $g_1;
        transition-duration: 0.5s;
      }

      input.scrollCategory_el:focus {
        border: none;
        outline: none;
      }
      input.scrollCategory_el::placeholder {
        color: $g_1;
        transition: color 0.5s ease-in-out;
      }
      input.scrollCategory_el:focus::placeholder {
        color: $g_4;
      }

      .scrollCategory_el_ {
        display: flex;
        align-items: center;
        padding: 5px;
        font-size: 30px;
        color: $g_1;
        margin-right: 40px;

        &:hover {
          border-radius: 100px;
          background-color: $g_4;
        }
      }
      .scrollCategory_el_false {
        opacity: 0;
      }
      .scrollCategory_el_true {
        opacity: 1;
      }
    }

    .scrollCategory_el_wrapp_search_true {
      input.scrollCategory_el {
        width: 70vw;
      }
    }
  }
}

// =============================================================

@media screen and (max-width: $ADAPTIVE_S_1) {
  .scrollCategory {
    
    .scrollCategory_wrap {
  
      .scrollCategory_el_wrapp_search_true {
        input.scrollCategory_el {
          width: 50vw
        }
      }
    }
  }
}
@media screen and (max-width: $ADAPTIVE_S_2) {
  .scrollCategory {
    
    .scrollCategory_wrap {
  
      .scrollCategory_el_wrapp_search_true {
        input.scrollCategory_el {
          width: 35vw
        }
      }
    }
  }
}
