
@font-face {
    font-family: Fixel;
    src: url('../../public/font/MacPawFixelDisplay-Thin.ttf');
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: Fixel;
    src: url('../../public/font/MacPawFixelDisplay-ExtraLight.ttf');
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: Fixel;
    src: url('../../public/font/MacPawFixelDisplay-Light.ttf');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: Fixel;
    src: url('../../public/font/MacPawFixelDisplay-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: Fixel;
    src: url('../../public/font/MacPawFixelDisplay-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: Fixel;
    src: url('../../public/font/MacPawFixelDisplay-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: Fixel;
    src: url('../../public/font/MacPawFixelDisplay-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: Fixel;
    src: url('../../public/font/MacPawFixelDisplay-ExtraBold.ttf');
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: Fixel;
    src: url('../../public/font/MacPawFixelDisplay-Black.ttf');
    font-style: normal;
    font-weight: 900;
}

// ========================================================

// * test code * ---------------
$c_1: pink;
$c_2: rgb(99, 134, 47);
$c_3: #8a3434;
$c_3: #8a3434;
$c_4: #dbfbff;

@mixin border_test{
    border: 1px solid black;
}
// * test code * ---------------

//========================================================

$g_0: white;
$g_1: black;
$g_2:#BABABA;
$g_3:rgb(232, 232, 232);
$g_4:rgb(242, 242, 242);

$b_1: #0294A9;
$b_2: #12AFC2;
$b_3: #4acdf9;
$b_4: #dbfbff;

$header_height: 60px;
$header_padding: 4%;
$header_padding_mobile: 8%;

$header_height_mobile: 70vh;

// $adaptive_s_-1: 480px;
// $adaptive_s: 1000px;
// $adaptive_m: 1180px;
// $adaptive_m_2: 1280px;
// $adaptive_m_3: 1400px;
$ADAPTIVE_M_-1: 1650px;
$ADAPTIVE_M_1: 1410px;
$ADAPTIVE_M_2: 1100px;
$ADAPTIVE_S_1: 781px;

//========================================================

// make background of block blury kind of like glass
@mixin glass_background{
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(100px);
}

@mixin scroll_thumb_horizontal{
    ::-webkit-scrollbar{
        height: 8px;
        background-color: $g_0;
    }
    ::-webkit-scrollbar-thumb{
        background-color: $g_3;
    }  
}
@mixin scroll_thumb_vartical{
    // scrollbar road
    ::-webkit-scrollbar{
        width: 8px;
        background-color: $g_0;
        transition: all 0.6s ease-in-out;
    }
    //scrollbar slider
    ::-webkit-scrollbar-thumb{
        background-color: $g_3;
        border-radius: 6px;
        transition: all 0.6s ease-in-out;
    }  
}
@mixin scroll_thumb_hide{
    // scrollbar road
    ::-webkit-scrollbar{
        visibility: hidden;
    }
    //scrollbar slider
    ::-webkit-scrollbar-thumb{
        visibility: hidden;
    }  
}

// ================================================================

#root, body, html{
    font-family: Fixel;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    ::selection{
        // color:  $b_1;
        background-color: $b_3;    
    }
    overflow-y: hidden;
    overflow-x: hidden;
}

.App{
    height: 100vh;
}
