@import '../../settings/settings.scss';

.LoginSection {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  .LoginSection_mainBlock{
    padding-top: $header_height;
  }
}
